acb-py==1.1.0
aerich==0.5.3
aiohttp==3.7.4.post0
aiosqlite==0.16.1
async-timeout==3.0.1
asyncpg==0.22.0
attrs==21.2.0
chardet==4.0.0
click==7.1.2
ddlparse==1.9.0
Deprecated==1.2.12
dictdiffer==0.8.1
discord.py==1.7.2
idna==3.1
iso8601==0.1.14
msgpack==1.0.2
multidict==5.1.0
Pillow==8.2.0
pydantic==1.8.1
pykakasi==2.1.0
pyparsing==2.4.7
pypika-tortoise==0.1.0
pytz==2020.5
PyYAML==5.4.1
tortoise-orm==0.17.2
typing-extensions==3.10.0.0
wrapt==1.12.1
yarl==1.6.3
